@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
}

.content {
    margin:5% auto;
    width: 25%;
    background-color: white;
    padding: 20px 9px 50px;
    border-radius: 20px;
}

img {
    width: 400px;
    border-radius: 15px;
}

h1, p {
    margin: 1em 1em 0.8em 1em;
}

h1 {
    font-size: 1.6em;
    color: hsl(218, 44%, 22%);
}

p {
    font-weight: 400;
    font-size: 1.25em;
    color: hsl(220, 15%, 55%);
    margin: 0 2em;
}

@media (max-width: 480px) {
    .content {
        width: 85%;
        margin-top: 40%;
        padding: 1em;
    }

    img {
        width: 320px;
    }

    h1, p {
        margin: 0.5em 0.5em;
    }
}